@page
@model lab27.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.QuantitySold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.QuantitySold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Customers.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Products.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Suppliers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Suppliers.SupplierID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale.SaleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
